.Color {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: black 0 0 5px;
  }
  
  .Color a {
    color: rgb(194, 194, 194);
  }